*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 /* background: lavender;*/
}

.cardHighlight{
  min-height: 100%;
  background: lavender;
}

.loginBG{
background: whitesmoke;
position: fixed;
min-width: 100%;
min-height: 100%;
}

.home{
background: whitesmoke;
}

.banner {
  font-style: italic;
}
.dashBoard{
  background-color: whitesmoke;
}
